<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <h1>mongodb的增删改查的演示</h1>
    <div>
      <div>用户名：<input id="username" type="text"></div>
      <div>密码：<input id="password" type="password"></div>
      <div>年龄：<input id="age" type="number"></div>
      <div><button id="register_btn">注册</button></div>
      <hr>
      <div>
        <button id="update_btn">更新</button>
        <button id="delete_btn">删除</button>
      </div>


      
      <hr>
      <table border = "1">
        <thead>
          <tr>
            <td>id</td>
            <td>用户名</td>
            <td>年龄</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <div>
        <ul class="page"></ul>
        <div class="total"></div>
      </div>
    </div>

    <script>
      let register_btn = document.querySelector("#register_btn")
      let update_btn= document.querySelector("#update_btn")
      let delete_btn = document.querySelector("#delete_btn")
      let username = document.querySelector("#username")
      let password = document.querySelector("#password")
      let age = document.querySelector("#age")


      let id = '6342685cc5b3375bdc3c62cb'
      let limit = 5

      register_btn.onclick=()=>{
        fetch("/api/user",{
          method:"POST",
          body:JSON.stringify({
            username:username.value,
            password:password.value,
            age:age.value,
          }),
          headers:{
            "Content-Type":"application/json"
          }
        }).then(res=>res.json())
          .then(res=>{
            console.log(res)
            onload()
          })

      }


      update_btn.onclick=()=>{

        fetch(`/api/user/${id}`,{
          method:"PUT",
          body:JSON.stringify({
            username:"修改的名字",
            password:"修改的密码",
            age:1,
          }),
          headers:{
            "Content-Type":"application/json"
          }
        }).then(res=>res.json())
          .then(res=>{console.log(res)})

      }

      delete_btn.onclick=()=>{
        fetch(`/api/user/${id}`,{
          method:"DELETE"
        }).then(res=>res.json())
          .then(res=>{console.log(res)})
      }


      //获取列表
      async function getList(pageNum,limit){
        pageNum = pageNum ? pageNum :1
        limit = limit ? limit :5

        await fetch(`/api/user/list?page=${pageNum}&limit=${limit}`).then(res=>res.json()).then(res=>{
          let tbody = document.querySelector("tbody")
          tbody.innerHTML = res.data.map(item=>`
            <tr>
              <td>${item._id}</td>
              <td>${item.username}</td>
              <td>${item.age}</td>
              <td><button id="tab_delete_btn">删除</button> </td>
            </tr>
          `).join("")

          let page  = document.querySelector(".page")

          let pageInner = []

          
         

          for(let i = 0;i < res.total  / limit ; i++){
              let temp  = `
                <li class="pageItem">
                ${i+1}
                </li>
              `
            pageInner.push(temp)
          }
          page.innerHTML =pageInner.join("")

          let total  = document.querySelector(".total")
          total.innerHTML = `<span>共${res.total}条  ${limit}条/页  当前第${pageNum}页</span>`
          
          let pageItem = document.querySelectorAll(".pageItem")
        
          for(let i in pageItem){
            pageItem[i].onclick = async()=>{
              await getList( Number(i)+1,limit)
            }
          }
     

          let tab_delete_btn = document.querySelectorAll("#tab_delete_btn")


          for(let i in res.data){
            tab_delete_btn[i].onclick= () =>{
              fetch(`/api/user/${res.data[i]._id}`,{
                method:"DELETE"
              }).then(res=>res.json())
              .then(res=>{
                console.log(res)
                onload()
              })
            }
          }
          
        })
      }
     
      async function onload (){
        await  getList()
       
      }
      
      onload()
    </script>
  </body>
</html>
<style>
  .page{
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }
  .page li{
    padding:10px;
    margin: 5px;
    background-color: #ddd;
  }
</style>
