<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>登录页面</h1>
  <div>
    <div>用户名：<input id="username" type="text"></div>
    <div>密码：<input id="password" type="password"></div>
    <div><button id="login_btn">登录</button></div>
  </div>

  <script>
      let username = document.querySelector("#username")
      let password = document.querySelector("#password")
      let login_btn = document.querySelector("#login_btn")

      login_btn.onclick=()=>{
        fetch("/api/login",{
          method:"POST",
          body:JSON.stringify({
            username:username.value,
            password:password.value,
          }),
          headers:{
            "Content-Type":"application/json"
          }
        }).then(res=>res.json())
          .then(res=>{
            if(res.ok == 1){
              location.href="/"
            }else{
              alert("用户名密码不匹配")
            }
          })

      }
  </script>
</body>
</html>